# copy to .env and change whatever you want

## Import a CSV or not ("results/Repo.csv")
## Choices: y/n
IMPORT_CSV = "n"

## What language do you want
LANGUAGE_WANTED = "java"

## From what date to start from
START_CREATEDATE = "2010-01-01"

## To what date to end at
END_CREATEDATE = "2023-09-04"

## How many followers at a minimum
PROJECT_FOLLOWERS = "50"

## How many mentionable users at a minimum
PROJECT_MENTIONABLE = "20"

## How much of the repo is the wanted language in percent
PROJECT_PERCENT = "51"

## How many total commits at a minimum
PROJECT_TOTALCOMMIT = "300"

## What is the minimum size in kilobytes of the repo
PROJECT_MINTOTALSIZE = "5000"

## What is the maximum size in kilobytes of the repo
PROJECT_MAXTOTALSIZE = "5000000"

## What options (comma seperated) do you want to do?
## Choices: 1 = print,2 = clone all repos,3 = export to csv,4 = run refminer on all repos
MENU_ORDER="3,4"